--SELECT 
--[RegNo]
--      ,[ProcID]
--      ,[HospCodeName]
--      ,[HospitalName]
--      ,[State]
--      ,[HlthTrckNo]
--      ,[RegistryEnteredDate]
--      --,[UrNo]
--      ,[LastName]
--      ,[FirstName]
--      ,[DateOfBirth]
--      ,[Sex]
--      --,[Postcode]
--      --,[Phone_No]
--      --,[Phone_No2]
--      --,[HospFundAbbrv]
--      --,[HospFundName]
--      --,[Race]
--      --,[RaceOther]
--      --,[Insurance]
--      --,[Medicare]
--      --,[MedicareNotAvailable]
--      --,[DvaNo]
--      --,[DVANoNotAvailable]
--      --,[AdmissionStatus]
--      ,[DateOfAdmission]
--      --,[DoctorName]
--      --,[DoctorIdInHT]
--      --,[DocNameDevice]
--      ,[PreviousPCI]
--      ,[PreviousCABG]
--      ,[PreviousValvularSurgery]
--      ,[PreviousMI]
--      ,[AF]
--      ,[HeartFailure]
--      ,[TypeOfProcedure]
--      ,[IntendedDevice]
--      ,[DeviceImplanted]
--      ,[IndDevICD]
--      ,[ResyncTherapywithAICD]
--      ,[ResyncNonIschCar]
--      ,[ResyncIschCar]
--      ,[ResyncAICDOther]
--      ,[SecondaryPreventionVTVF]
--      ,[SPStructuralDisease]
--      ,[SPChannelopathy]
--      ,[SecPreVTVFOther]
--      ,[PrimaryPrevention]
--      ,[PPStructuralDisease]
--      ,[PPStructuralDiseaseOther]
--      ,[PPChannelopathy]
--      ,[PPChannelopathyOther]
--      ,[PPOther]
--      ,[IndDevILR]
--      ,[IndDevILROther]
--      ,[IndDevPM]
--      ,[SinusNodeDys]
--      ,[SinnoddysOther]
--      ,[AVBlock]
--      ,[ThirdDegreeAVBlock]
--      ,[SecondDegreeAVBlock]
--      ,[AVBlockOther]
--      ,[FasicularBlock]
--      ,[FasicularBlockOther]
--      ,[IndDevPMOther]
--      ,[IndDevPMOtherOther]
--      ,[ProcedureDate]
--      ,[ProcedureTime]
--      ,[FluoroscopyTime]
--      ,[AntibioticProphylaxis]
--      ,[NumberOfDoses]
--      ,[AntibioticRoute]
--      ,[AntibioticProphylaxisOther]
--      ,[AntiPlateletOAC]
--      ,[AtrialLead]
--      ,[RightVentricular]
--      ,[LeftVentricular1]
--      ,[LeftVentricular2]
--      ,[GeneratorSite]
--      ,[GeneratorLocation]
--      ,[WoundIrrigationNo]
--      ,[WoundIrrigationCephalosporins]
--      ,[WoundIrrigationGentamicin]
--      ,[WoundIrrigationOther]
--      ,[WoundIrrigationBetadine]
--      ,[WoundClosure]
--      ,[Device]
--      ,[ICDManufacturer]
--      ,[PacemakerManufacturer]
--      ,[ILRManufacturer]
--      ,[ModelName]
--      ,[ModelAssessmentBody]
--      ,[ICDSerialNumber]
--      ,[AtrialLeadManufacturer]
--      ,[AtrialLeadModelName]
--      ,[AtrialLeadModelAssessmentBody]
--      ,[AtrialLeadSerialNumber]
--      ,[AtrialLeadLocation]
--      ,[RightVentricularLeadManufacturer]
--      ,[RightVentricularLeadType]
--      ,[RightVentricularLeadModelName]
--      ,[RightVentricularLeadModelAssessmentBody]
--      ,[RightVentricularLeadSerialNumber]
--      ,[RightVentricularLeadLocation]
--      ,[LeftVentricularLead1Manufacturer]
--      ,[LeftVentricularLead1ModelName]
--      ,[LeftVentricularLead1ModelAssessmentBody]
--      ,[LeftVentricularLead1SerialNumber]
--      ,[LeftVentricularLead1LocationAP]
--      ,[LeftVentricularLead1LocationLAO]
--      ,[LeftVentricularLead2Manufacturer]
--      ,[LeftVentricularLead2ModelName]
--      ,[LeftVentricularLead2ModelAssessmentBody]
--      ,[LeftVentricularLead2SerialNumber]
--      ,[LeftVentricularLead2LocationAP]
--      ,[LeftVentricularLead2LocationLAO]
--      ,[Complications]
--      ,[DateOfComplications]
--      ,[Pneumothorax]
--      ,[PneumothoraxOption]
--      ,[ODP]
--      ,[VascularTrauma]
--      ,[VascularTraumaOption]
--      ,[ODV]
--      ,[CardiacPerforation]
--      ,[CardiacPerforationOption]
--      ,[ODC]
--      ,[Effusion]
--      ,[Tamponade]
--      ,[CardiacValveInjury]
--      ,[ODCVI]
--      ,[SubclavianVeinThrombosis]
--      ,[ODSVT]
--      ,[LeadDislodgement]
--      ,[LeadDislodgementOption]
--      ,[ODL]
--      ,[Haematoma]
--      ,[MajorBleeding]
--      ,[BleedingSite]
--      ,[Transfusion]
--      ,[Infection]
--      ,[InfectionOption]
--      ,[ODI]
--      ,[Erosion]
--      ,[PhrenicNerveStimulation]
--      ,[PhrenicNerveStimulationOption]
--      ,[ArrhythmiaRequiringIntervention]
--      ,[AirEmbolism]
--      ,[PeripheralNerveInjury]
--      ,[LymphostaticTrauma]
--      ,[Stroke]
--      ,[StrokeOption]
--      ,[ODS]
--      ,[Other]
--      ,[ODO]
--      ,[DateOfOccurence]
--      ,[DateOfDischarge]
--      ,[AntiplateletDrugs]
--      ,[Anticoagulants]
--      ,[DischargeStatus]
--      ,[FOL1_FollowUpType]
--      ,[FOL1_LostToFU]
--      ,[FOL1_LostToFUComment]
--      ,[FOL1_DateOfFU]
--      ,[FOL1_VitalStatus]
--      ,[FOL1_DeathCause]
--      ,[FOL1_DeathCauseOther]
--      ,[FOL1_DeathCauseComplicationOfDevice]
--      ,[FOL1_LocationOfDeath]
--      ,[FOL1_DateOfSeparation]
--      ,[FOL1_Complications]
--      ,[FOL1_DateOfComplications]
--      ,[FOL1_Pneumothorax]
--      ,[FOL1_PneumothoraxOption]
--      ,[FOL1_ODP]
--      ,[FOL1_VascularTrauma]
--      ,[FOL1_ODV]
--      ,[FOL1_VascularTraumaOption]
--      ,[FOL1_CardiacPerforation]
--      ,[FOL1_CardiacPerforationOption]
--      ,[FOL1_ODC]
--      ,[FOL1_Effusion]
--      ,[FOL1_Tamponade]
--      ,[FOL1_CardiacValveInjury]
--      ,[FOL1_SubclavianVeinThrombosis]
--      ,[FOL1_LeadDislodgement]
--      ,[FOL1_LeadDislodgementReqReOp]
--      ,[FOL1_Haematoma]
--      ,[FOL1_MajorBleeding]
--      ,[FOL1_BleedingSite]
--      ,[FOL1_Transfusion]
--      ,[FOL1_Infection]
--      ,[FOL1_InfectionOption]
--      ,[FOL1_Erosion]
--      ,[FOL1_PhrenicNerveStimulation]
--      ,[FOL1_PhrenicNerveStimulationOption]
--      ,[FOL1_ArrhythmiaRequiringIntervention]
--      ,[FOL1_AirEmbolism]
--      ,[FOL1_PeripheralNerveInjury]
--      ,[FOL1_LymphostaticTrauma]
--      ,[FOL1_Stroke]
--      ,[FOL1_OtherOutcomes]
--      ,[FOL1_DateOfOccurence]
--      ,[FOL1_PatientReadmission1]
--      ,[FOL1_ReadamissionCause1]
--      ,[FOL1_DateOfReadmission1]
--      ,[FOL1_PatientReadmission2]
--      ,[FOL1_ReadamissionCause2]
--      ,[FOL1_DateOfReadmission2]
--      ,[FOL1_AntiplateletDrugs]
--      ,[FOL1_AntiplateletDrugsOption]
--      ,[FOL1_Anticoagulants]
--      ,[FOL1_AnticoagulantsOption]
--      ,[FOL2_FollowUpType]
--      ,[FOL2_LostToFU]
--      ,[FOL2_LostToFUComment]
--      ,[FOL2_DateOfFU]
--      ,[FOL2_VitalStatus]
--      ,[FOL2_DeathCause]
--      ,[FOL2_DeathCauseOther]
--      ,[FOL2_DeathCauseComplicationOfDevice]
--      ,[FOL2_LocationOfDeath]
--      ,[FOL2_DateOfSeparation]
--      ,[FOL2_Complications]
--      ,[FOL2_DateOfComplications]
--      ,[FOL2_Pneumothorax]
--      ,[FOL2_PneumothoraxOption]
--      ,[FOL2_ODP]
--      ,[FOL2_VascularTrauma]
--      ,[FOL2_ODV]
--      ,[FOL2_VascularTraumaOption]
--      ,[FOL2_CardiacPerforation]
--      ,[FOL2_CardiacPerforationOption]
--      ,[FOL2_ODC]
--      ,[FOL2_Effusion]
--      ,[FOL2_Tamponade]
--      ,[FOL2_CardiacValveInjury]
--      ,[FOL2_SubclavianVeinThrombosis]
--      ,[FOL2_LeadDislodgement]
--      ,[FOL2_LeadDislodgementReqReOp]
--      ,[FOL2_Haematoma]
--      ,[FOL2_MajorBleeding]
--      ,[FOL2_BleedingSite]
--      ,[FOL2_Transfusion]
--      ,[FOL2_Infection]
--      ,[FOL2_InfectionOption]
--      ,[FOL2_Erosion]
--      ,[FOL2_PhrenicNerveStimulation]
--      ,[FOL2_PhrenicNerveStimulationOption]
--      ,[FOL2_ArrhythmiaRequiringIntervention]
--      ,[FOL2_AirEmbolism]
--      ,[FOL2_PeripheralNerveInjury]
--      ,[FOL2_LymphostaticTrauma]
--      ,[FOL2_Stroke]
--      ,[FOL2_OtherOutcomes]
--      ,[FOL2_DateOfOccurence]
--      ,[FOL2_PatientReadmission1]
--      ,[FOL2_ReadamissionCause1]
--      ,[FOL2_DateOfReadmission1]
--      ,[FOL2_PatientReadmission2]
--      ,[FOL2_ReadamissionCause2]
--      ,[FOL2_DateOfReadmission2]
--      ,[FOL2_AntiplateletDrugs]
--      ,[FOL2_AntiplateletDrugsOption]
--      ,[FOL2_Anticoagulants]
--      ,[FOL2_AnticoagulantsOption]
--      ,[FOL3_FollowUpType]
--      ,[FOL3_LostToFU]
--      ,[FOL3_LostToFUComment]
--      ,[FOL3_DateOfFU]
--      ,[FOL3_VitalStatus]
--      ,[FOL3_DeathCause]
--      ,[FOL3_DeathCauseOther]
--      ,[FOL3_DeathCauseComplicationOfDevice]
--      ,[FOL3_LocationOfDeath]
--      ,[FOL3_DateOfSeparation]
--      ,[FOL3_Complications]
--      ,[FOL3_DateOfComplications]
--      ,[FOL3_Pneumothorax]
--      ,[FOL3_PneumothoraxOption]
--      ,[FOL3_ODP]
--      ,[FOL3_VascularTrauma]
--      ,[FOL3_ODV]
--      ,[FOL3_VascularTraumaOption]
--      ,[FOL3_CardiacPerforation]
--      ,[FOL3_CardiacPerforationOption]
--      ,[FOL3_ODC]
--      ,[FOL3_Effusion]
--      ,[FOL3_Tamponade]
--      ,[FOL3_CardiacValveInjury]
--      ,[FOL3_SubclavianVeinThrombosis]
--      ,[FOL3_LeadDislodgement]
--      ,[FOL3_LeadDislodgementReqReOp]
--      ,[FOL3_Haematoma]
--      ,[FOL3_MajorBleeding]
--      ,[FOL3_BleedingSite]
--      ,[FOL3_Transfusion]
--      ,[FOL3_Infection]
--      ,[FOL3_InfectionOption]
--      ,[FOL3_Erosion]
--      ,[FOL3_PhrenicNerveStimulation]
--      ,[FOL3_PhrenicNerveStimulationOption]
--      ,[FOL3_ArrhythmiaRequiringIntervention]
--      ,[FOL3_AirEmbolism]
--      ,[FOL3_PeripheralNerveInjury]
--      ,[FOL3_LymphostaticTrauma]
--      ,[FOL3_Stroke]
--      ,[FOL3_OtherOutcomes]
--      ,[FOL3_DateOfOccurence]
--      ,[FOL3_PatientReadmission1]
--      ,[FOL3_ReadamissionCause1]
--      ,[FOL3_DateOfReadmission1]
--      ,[FOL3_PatientReadmission2]
--      ,[FOL3_ReadamissionCause2]
--      ,[FOL3_DateOfReadmission2]
--      ,[FOL3_AntiplateletDrugs]
--      ,[FOL3_AntiplateletDrugsOption]
--      ,[FOL3_Anticoagulants]
--      ,[FOL3_AnticoagulantsOption]
--	  ,@@SERVERNAME [ServerName]
--	  ,getdate() [ExtractDate]
--	  ,'[Adhoc].[dbo].[vw_DeviceRegistry_NoLkpCodes]' [Source]
--into [Adhoc].[dbo].[HF Data Dump_CSANZ] 
--FROM [Adhoc].[dbo].[vw_DeviceRegistry_NoLkpCodes]
--go

select * from [Adhoc].[dbo].[HF Data Dump_CSANZ]
go 